.top{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
    margin-top: 12px;
    margin-bottom: 12px;
}
header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #ffff;
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    gap: 18px;
    margin-left: 4vw;
    margin-right: 4vw;
    padding-top: 12px;
    padding-bottom: 16px;
    border-top: 1px solid #00000057;
}

#btn-dropdown{
    background-color: #ffff;
    border: 1px solid rgba(0, 0, 0, 0.589);
    border-radius: 2rem;
    color: #28282B;
    padding: 2px 8px;
    font-weight: 500;
}

nav .dropdown-menu {
    background-color: aqua;
}

.logo {
    height: 80%;
    aspect-ratio: inherit;
}
