main{
    display: grid;
    grid-template-columns: auto;
    row-gap: 24px;
    padding-inline: 12px ;
    padding-bottom: 80px;
}
.property-card {
    width: 100%;
    max-width: 350px;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin: 0 auto;
}

.image-container {
    position: relative;
}

.property-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.distance-badge {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: #4CAF50;
    color: white;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 12px;
}

.property-details {
    text-align: start;
    padding: 12px;
}

.property-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.property-header:first-child{
    width: auto;
}
.property-header:last-child{
    width: 24px;
    flex-shrink: 0;
}
.property-type {
    color: #6c757d;
    font-size: 14px;
    margin: 0;
}

.property-name {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    column-gap: 8px;
    align-items: start;
    color: #212529;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}
.property-name span{
    text-transform: capitalize;
}

.heart-icon{
    color: #495057;
}
.heart-fill{
    fill: rgb(224, 7, 7);
    color: rgb(224, 7, 7);
}

.property-availability {
    color: #6c757d;
    margin: 0 0 12px 0;
    font-size: 16px;
}

.property-features {
    display: flex;
    gap: 16px;
    margin: 0 0 16px 0;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #495057;
    font-size: 14px;
}

/* .divider {
    border: none;
    border-top: 1px solid #dee2e6;
    margin: 0 0 16px 0;
} */

.property-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-container {
    display: flex;
    align-items: center;
}

.price-amount {
    color: #212529;
    font-size: 24px;
    font-weight: 700;
}

.price-period-long, .price-period-short {
    color: #495057;
    margin-left: 4px;
    font-size: 15px;
}

.view-details-button {
    background-color: #dee2e6;
    color: #212529;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
}

.view-details-button:hover {
    background-color: #ced4da;
}

.arrow-icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}