header{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    margin-top: 12px;
    margin-bottom: 12px;
}

.logo{
    height: 64px;
}

nav{
    display: flex;
    gap: 18px;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 12px;
    padding-bottom: 16px;
    border-top: 1px solid #00000057;
}

#btn-dropdown{
    background-color: #ffff;
    border: 1px solid rgba(0, 0, 0, 0.589);
    border-radius: 2rem;
    color: #28282B;
    padding: 4px 12px;
    font-weight: 600;
}
